.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 30px;
  gap: 40px;
}
.image_primary {
  z-index: -1;
  transition: transform 0.5s ease;
  width: 55vh;
  height: 70vh;
  object-fit: fill;
  animation: zoomIn 7s ease infinite;
  border: 2px solid;
  border-image: linear-gradient(rgb(224, 129, 20), rgb(212, 14, 14)) 1 10%;
}
.image_secondary {
  border: 1px dashed;
  border-image: linear-gradient(rgb(224, 129, 20), rgb(212, 14, 14)) 1 -90%;
  width: 90vh;
  height: 55vh;
  object-fit: fill;
}

h1 {
  margin-top: 40px;
  background: -webkit-linear-gradient(rgb(224, 129, 20), rgb(212, 14, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  width: 90vh;
}

.btn {
  display: block;
  position: absolute;
  width: 100%;
  background: -webkit-linear-gradient(rgb(224, 129, 20), rgb(212, 14, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(224, 129, 20), rgb(212, 14, 14));
  border-radius: 50px;
  max-width: 70px;
  padding: 6px 20px;
  overflow: hidden;
  font-weight: 900;
  cursor: pointer;
  margin-top: 10px;
}
.btn::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: -5px;
  background-size: 6px 6px;
  background-image: linear-gradient(
    -45deg,
    rgb(224, 129, 20) 6%,
    rgb(224, 129, 20) 9%,
    rgb(224, 129, 20) 1%,
    rgb(5, 5, 5) 5%
  );
  width: 110%;
  height: 0%;
  z-index: -1;
  transition: 0.8s ease;
}

.btn:hover::after {
  height: 120%;
}

.circle-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
}

.circle {
  position: fixed;
  left: 90px;
  display: block;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-clip: content-box;
  animation: spin 10s linear infinite;
  z-index: -2;
}

.error {
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(224, 129, 20), rgb(212, 14, 14));
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes zoomIn {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
}
