.component_movie {
  margin-top: 40px;
  color: white;
  overflow: hidden;
}

.component_movie h1 {
  margin-bottom: -10px;
}
.container_movie {
  padding: 0 20px;
  display: flex;
  gap: 100px;
  margin: 0 auto;
}
div .title_movies {
  font-size: 26px;
  padding-top: 60px;
}

.creators {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.creators span {
  padding: 4px;
  background: -webkit-linear-gradient(rgb(224, 129, 20), rgb(212, 14, 14));
}
.creators span:nth-child(2n),
.creators span:nth-child(3n) {
  margin-left: 10px;
}
.create_numbers {
  font-weight: 200;
  color: #fff;
}

.creators a {
  display: flex;
  padding: 5px;
  width: 220px;
  color: #000;
  align-items: center;
}

.links_movies {
  color: #fff;
  display: flex;
}

.btn2 {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  background: -webkit-linear-gradient(rgb(224, 129, 20), rgb(212, 14, 14));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(224, 129, 20), rgb(212, 14, 14));
  border-radius: 50px;
  max-width: 70px;
  padding: 10px 90px;
  overflow: hidden;
  font-weight: 900;
  cursor: pointer;
}
.btn2::after {
  content: "";
  position: absolute;
  display: flex;
  bottom: 0;
  left: -5px;
  background-size: 6px 6px;
  background-image: linear-gradient(
    -45deg,
    rgb(224, 129, 20) 6%,
    rgb(224, 129, 20) 9%,
    rgb(224, 129, 20) 1%,
    rgb(5, 5, 5) 5%
  );
  width: 110%;
  height: 0%;
  z-index: -1;
  transition: 0.8s ease;
}

.btn2:hover::after {
  height: 120%;
}

.loading-movie {
  margin-top: 15%;
}
.image_primary {
  margin-top: 30px;
}

.image_movie_secondary {
  width: 40vh;
  margin-top: -30px;
  height: 22vh;
}
.image_movie_primary {
  width: 30vh;
  margin-top: 10px;
  margin-left: 10px;
  height: 30vh;
}

@media (max-width: 1000px) {
  .container {
    justify-content: center;
    margin: 50px;
    flex-direction: column;
  }
}
@media (max-width: 699px) {
 
  .movies-primary-information h1 {
    display: none;
  }
  .movies-primary-information-1 {
    margin-top: -40px;
  
  }
  .movies-primary-information-1 {
    padding:10px;
    margin-left: -80px;
    width: 95%;
  }
  .image_primary {
    display: none;
  }
  .image_secondary {
    margin-left: auto;
    margin-top: 100px;
    width: 95%;
    height: 240px;
  }

  .creators a{
    width: 90%;

  }
}
