body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color:#fff;
  background-size: 6px 6px;
  background-image: linear-gradient(
-45deg
, rgb(27, 26, 26) 6%, 
rgb(24, 20, 20) 49%, 
rgb(63, 60, 60) 71%,
 rgb(16, 16, 16) 55%);
}
 .App{

   display: flex;
   justify-content: center; 
   align-items: center; 
   flex-direction: column;
 }
 a{

    text-decoration: none;
    cursor: pointer;
   
}

::-webkit-scrollbar-thumb:vertical {
  background: -webkit-linear-gradient(rgb(224, 129, 20), rgb(212, 14, 14));
  height:10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  }
  
  ::-webkit-scrollbar {
  height:10px;
  width:10px; 
   background: #000000; 
  
  }